/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
html, body{
	font-family: 'Ubuntu', sans-serif;
	font-size:100%;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- Header Part Starts Here --*/
.header{
	background: #66A0CC;
	padding: 1.5em 0;
}
.logo{
	float: left;
	width: 10%;
	margin-top: 8px;
}
.navigation{
	width: 100%;
	text-align: center;
}
.banner-top {
	width: 100%;
	float: left;
	margin-top: 8px;
}
ul.navig{
	padding: 0;
	width: 100%;
	float: left;
	margin: 1% auto 0;
	text-align: center;
}
ul.navig li{
	display: inline-block;
	margin:0 10px;
}
ul.navig li a{
	text-transform:uppercase;
	font-size:1em;
	color:#fff;
	font-weight:700;
}
ul.navig li a:hover{
	color:#838383;
}

.banner-bot{
	padding:4em 0;
	text-align:center;
}
.banner-bot h2{
	font-size:4em;
	font-weight:700;
	margin:0em 0 0.5em 0;
}
.banner-bot p{
	font-size:1.1em;
	font-weight:500;
	line-height:1.8em;
	margin:0 0 0.5em;
}
.banner-bot p:nth-of-type(2){
	font-weight:100;
	font-size:0.875em;
	margin-bottom:2em;
}
.banner-bot a{
	font-size:2em;
	text-transform:uppercase;
	font-weight:700;
}
nav a , ul.navig a{
	position: relative;
	display: inline-block;
	margin: 0px 0px 10px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus, ul.navig a:hover, ul.navig a:focus {
	outline: none;
}
.cl-effect-3 a {
	padding: 8px 0;
}
.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #838383;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}



.mini-menu{
    float:left;
    position:relative;
	width:100%;
	overflow:hidden;

}
.mini-menu ul{
    clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

.mini-menu ul li{
	display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;



}/* ie needs position:relative here*/

.mini-menu ul li a {
    text-decoration:none;
    margin:10px;
    background:#fff;
    float:left;
    border:1px outset #66A0CC;
    color:#000;
    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
}
.mini-menu ul li a:hover { 
border:1px inset #66A0CC;
color:red;
background:#f2f2f2;

}



#bssidTable {
	height:600px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	
	overflow:auto;
		
}

#tableID{
	width:600px;
	
	overflow:auto;
	border:1px solid black;
	
}


#tableID th {
	
	text-align:center;
	font-weight:bold;
	
}


#tableID td {
	
	padding:15px;
	border: 1px solid black;
	
}

#userLink.test {
	
	text-decoration:none;
    margin:10px;
    background:#fff;
    float:left;
    border:1px outset #66A0CC;
    color:#000;
    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
	
	
}
#userLink.test:hover {
	border:1px inset #66A0CC;
color:red;
background:#f2f2f2;
} 


#headerTag{
		
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	text-align:center;
	color: #66A0CC;
	
}

#usersTable{
	
	height:400px;
	width:500px;
	
	overflow-x:hidden;
	overflow-y:auto;
	
	margin-left:auto;
	margin-right:auto;
	
}

#poipar{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 1em;
	margin-top: 1em;
	
}

#closer{
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:1em;
	
}

#closer btnIdSub{
	padding-left:10px;
}

table{
	width:500px;
	overflow:auto;
	border:1px solid black;
	
	
}

th {
	text-align:center;
	font-weight:bold;
	
}

table td{
	padding:15px;
	
	border: 1px solid black;
	}
td:hover {
	
	cursor:pointer;
	background:#e9eff4;
}

#userSel{
	
	display:none;
	text-align:center;
	margin-top:1em;
	margin-left:1em;
}
#timeline {
	display:none;
	text-align:center;
	margin-top:1em;
	margin-left:1em;
	
	
}

#parameters {
	
	display:none;
	text-align:center;
	margin-top:1em;
	margin-left:1em;
}

#headerTagId {
	
	cursor:pointer;
}


/***************** ProgressBar *****************/

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 10px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}



/*-- Header Part Ends Here --*/
/*--banner--*/
.banner{
	background:url(../images/mn.png) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:740px;
}
.bannerProc {
	background:none;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:740px;
	
	
}
.banner h1 {
  color: #66A0CC;
      font-size: 3.2em;
}
.banner-info {
  background: rgba(0, 0, 0, 0.6);
  margin-top: 16.7em;
  padding: 1em 1em 1em 2em;
  width: 53%;
  float: right;
}

.banner-info-serv {
  background: #e9eff4;
  
  padding: 1em 1em 1em 2em;
  width: 100%;
  
}

.banner-info-down {
  background: #fff;
  margin-top: 1em;
  padding: 0em 0em 1em 0em;
  width: 100%;
  
}

.border {
border-bottom: 1px dotted #66A0CC;

}

.banner-info-serv1 {
	color: #000;
	text-align: center;
}

.banner-info-serv2 {
	color: #66A0CC;
	text-align: center;
}

.banner-info p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 100;
  line-height: 1.8em;
}
/*--/banner--*/

/*--button-hover--*/
.hvr-shutter-in-vertical {
display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #838383;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 7px 20px;
  font-size: 1.2em;
  color: #999;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/*--/button-hover--*/

/* ------ Footer ------ */
footer{
	border-top: 1px solid #CCC;
	padding-top: 30px;
	background: url('../images/content-background.jpg') no-repeat;
	background-position: 50% -100px;
}
footer ul.footerMenu, footer ul.footerAddress{
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
	clear: both;
}
footer .tweetTime{
	color: rgb(136,183,62);
	font-size: 10px;
	margin-left: 20px;
}
footer ul.footerMenu li, footer ul.footerAddress li{
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
footer ul.footerMenu li span, footer ul.footerAddress li span{
	display: block;
	margin: -20px 0 10px 60px;
}
footer ul.footerMenu li.title, footer .title,  footer ul.footerAddress li.title{
	color: #535353;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
}
footer ul.footerMenu li a,  footer ul.footerAddress li a{
	color: rgb(136,183,62);
}
footer ul.footerMenu{
	float: left;
	width: 100%;
}
footer #map-canvas{
	width: 100%;
	height: 145px;
	border: 1px solid #CCC;
}
.greenText {
  color: rgb(136,183,62);
}
footer .footerNews li.title{
	padding-bottom: 0;
	border-bottom: none;
}
footer .footerNews li{
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}
footer #footerCopyright{
	margin-bottom: 20px;
	font-size: 11px;
	float: left;
}
footer ul#footerSocial{
	list-style-type: none;
	float: right;
}
footer ul#footerSocial li{
	float: left;
	margin-left: 10px;
}
footer ul#footerSocial li a{
	color: #AAA;
}
footer ul#footerSocial li a:hover{
	color: #CCC;
}
footer ul#footerAbout{
	list-style-type: none;
	padding: 0;
	float: left;
	width: 100%;
}
footer ul#footerAbout li{
	float: left;
	margin-right: 20px;
	position: relative;
}
footer ul#footerAbout li a:hover span{
	background: rgba(255,255,255,0.5);
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 35px;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
footer ul#footerAbout li img{
	width: 100px;
	border-radius: 35px;
}
footer hr{
	float: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer p {
	font-size: 13px;
	color: rgb(165, 165, 165);
	margin-bottom: 0.8em;
	line-height: 1.7em;
}
/*--copy-rights--*/
.copyrights {
  background: #1BBC9B;
  padding: 1em 0;
  text-align: center;
  color: #fff;
}
.copyrights {
  background: #000;
  padding: 1em 0;
  text-align: center;
  color: #fff;
}
.copyrights p {
	margin:0;
}
.copyrights p a {
	color:#fff;
}
/*--/copy-rights--*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:3%;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/top-arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive-design starts-here --*/

@media screen and (max-width: 1366px) {
	.about-quote h5 {
		font-size: 2.5em;
	}
	.banner {
		min-height: 700px;
	}
	.inner-banner {
		min-height: 260px;
	}
	.about {
		padding: 3em 0 5em;
	}
	#breadcrumb_wrapper {
		padding: 53px 0;
	}
	.banner-info {
		padding: 1em 0 1em 2em;
	}
	.search-bar {
		margin: 5px auto 0;
	}
}
@media screen and (max-width: 1280px) {
	
	.banner {
		min-height: 650px;
	}
	.inner-banner {
		min-height: 240px;
	}
	.services h3 {
		font-size: 2.8em;
		margin-bottom: 1.2em;
	}
	.dt-support {
		width: 50%;
	}
	.plans {
		padding: 4em 0 2em 0;
	}
	.services {
		padding: 4em 0px 0em;
		min-height: 425px;
	}
	.logo {
		width: 24%;
	}
	.banner-top {
		width: 100%;
	}
	div#breadcrumb_wrapper h3 {
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.banner h1 {
		font-size: 2.8em;
	}
	.header {
		padding: 1.1em 0;
	}
	.banner-info p {
		font-size: 1em;
		line-height: 1.6em;
		margin-top:5px;
	}
	.best {
		padding: 2.5em 0;
	}
	.heading {
		font-size: 1.6em;
		border-bottom: 2px solid #eee;
	}
	.service-section {
		padding: 4em 0;
	}
	div#testimonialWrapper{
		padding: 4em 0;
	}
	.services h3 {
		font-size: 2.6em;
	}
	.services {
		padding: 3em 0px 0em;
		min-height: 400px;
	}
	#breadcrumb_wrapper {
		padding: 45px 0;
	}
	.about-quote h5 {
		font-size: 2.35em;
	}
	.about-quote {
		min-height: 300px;
	}
	.abt-quote {
		min-height: 300px;
		padding-top: 4em;
		padding-left: 6em;
	}
	.map {
		margin: 3em 0;
	}
	.contact-form {
		margin: 3em 0;	
	}
	.address {
		margin-top: 3em;
	}
	.blog-grid h3 {
		font-size: 1.6em;
	}
}
@media screen and (max-width: 1024px) {
	.search-bar input[type="submit"] {
		top: 10px;
		left: 173px;
		background-size: 18px;
	}
	.search-bar input[type="text"] {
		padding: 7px 34px 7px 7px;
	}
	.logo {
		width: 19%;
		margin-right:4%;
	}
	.logo img {
		width:100%;
	}
	.banner-top {
		width: 56%;
	}
	.banner {
		min-height: 524px;
	}
	.inner-banner {
		min-height: 200px;
	}
	.banner h1 {
		font-size: 2.5em;
	}
	.banner-info p {
		font-size: 0.875em;
	}
	.banner-info {
		padding: 1em 0 1em 1.5em;
		width: 57%;
		margin-top: 12em;
	}
	figure.float-left {
		margin-right: 3%;
		width:45%;
	}
	figure.float-left img {
		width:100%;
	}
	.best p {
		font-size: 14.5px;
	}
	.one_third {
		width: 31%;
		margin-right: 3%;
		margin-bottom: 2em;
	}	
	.pricing_top {
		padding: 28px 0;
	}
	.dt-support {
		width: 61%;
	}
	.fullwidth-section {
		min-height: 260px;	
	}	
	.service-section {
		padding: 3em 0;
	}
	.service-section-head h3 {
		font-size: 2em;
	}
	.service-section-head p {
		font-size: 1.1em;
	}
	.service-section-grid h4 {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}
	.icon {
		width: 17%;
		margin-right: 3%;
	}
	.icon-text {
		width: 80%;
	}	
	.services-grids {
		padding: 1em 2em;
		width: 46.8%;
		margin: 0 15px;
	}
	.services h3 {
		font-size: 2.4em;
	}
	.services {
		padding: 2.5em 0px 0em;
		min-height: 350px;
	}
	.services-bottom p {
		font-size: 1.7em;
	}	
	div#testimonialWrapper {
		padding: 3em 0;
	}
	footer p {
		font-size: 11.3px;
		margin-bottom: 1em;
	}
	footer ul.footerMenu, footer ul.footerAddress {
		margin-bottom: 5px;
	}
	div#testimonialWrapper h3 {
		font-size: 15px;
	}
	#breadcrumb_wrapper {
		padding: 40px 0;
	}
	div#breadcrumb_wrapper h3 {
		font-size: 1.75em;
		margin-bottom: 5px;
	}
	.abt-quote {
		min-height: 270px;
		padding-top: 3em;
		padding-left: 2em;
	}
	.about-quote h5 {
		font-size: 2.3em;
		margin-bottom: 35px;
	}
	.about-quote {
		min-height: 270px;
	}
	.float-right {
		margin: 0 0 0 0px;
		width: 45%;
	}
	.float-right img {
		width:100%;
	}
	.shared-hosting {
		padding: 2.5em 0;
	}
	.list-check li {
		padding-left: 25px;
		font-size: 0.875em;
		margin: 10px 0;
	}
	.PageHead h3 {
		margin-top: 5px;
		font-size: 1.3em;
	}
	.PageHead h1 {
		font-size:2em;
	}
	.ComparePlans .planHead2 h3, .ComparePlans .planHead3 h3 {
		padding-top: 8px;
		font-size: 1.3em;
	}
	.ComparePlans .planHead2 {
		height: 55px;
	}
	.ComparePlans .planHead3 {
		height: 55px;
	}	
	.header-c {
		font-size: 1.8em;
		margin: 0 0 0.6em 0;
	}
	.shared-hosting {
		padding: 2em 0;
	}
	.hd-content {
		padding: 4em 0 2em 0;
	}
	.ds_price {
		width: 12%;
	}	
	.ds_order {
		width: 18%;
	}
	.new-domains {
		margin-top: 3em;
	}
	.btn-lg {
		padding: 14px 40px;
	}
	.domain-section {
		padding: 2.5em 0 4em 0;
	}
	.domain {
		margin-top: 55px;
	}
	.PageHead {
		margin-top: 40px;
	}
	.one-fifth {
		width: 16%;
	}
	.domain_row {
		width: 49%;
	}	
	h4.domain-head {
		font-size: 1.8em;
		margin: 0 0 0.5em 0;
	}
	h4.domain-head1 {
		font-size: 1.7em;
		margin: 0 0 1.1em 0;
	}
	span.m_11 {
		font-size: 28px;
	}
	span.m_12 {
		font-size: 28px;
	}
	ul.charge {
		padding: 0.8em 0;
	}
	.about-left img {
		width: 100%;
	}
	.about-right h4 {
		margin-bottom: 8px;
		font-size: 1.1em;
	}
	p.m_8 {
		font-size: 0.9em;
		margin-bottom: 20px
	}
	.about {
		padding: 2em 0px 2em;
	}
	.about-main h3 {
		font-size: 2.1em;
		margin: 0 0 0.8em 0;
	}
	p.m_9 {
		padding: 2%;
	}
	.about_grid_top {
		padding: 3em 0;
	}
	.about-quote h5 {
		font-size: 2.1em;
	}
	.support {	
		text-align: center;
		  margin: 6% 0;
	}
	.support-grid p {
		font-size: 0.95em;
		line-height: 1.8em;
	}
	.faq-page-head h3 {
		font-size: 2em;
		margin: 0 0 0.5em 0;
	}
	.login-page {
		padding: 4em 0;
	}
	.register {
		padding: 3em 0;
	}
	.PlanPricing .price {
		font-size: 35px;
		width: 90px;
		height: 90px;
	}
	.single h2 {
		font-size: 2em;
	}
	.bolg-posts {
		padding: 4em 0;
	}
	.contact-form input[type="text"] {;
		width: 31.6%;
	}
	.map iframe {
		height: 300px;
	}
}
@media screen and (max-width: 768px) {
	span.menu {
	    display: block;
		cursor: pointer;
		float: none;
		margin: 3px auto 0em auto;
		width: 10%;
		background-color: #000;
		color: #fff;
		text-align: center;
		padding: 6px;
		font-size: 16px;
		font-weight: 500;
		position: relative;
	}
	.search-bar input[type="submit"] {
		top: 9px;
		left: 141px;
	}
	.search-bar {
		width: 23%;
	}
	.banner h1 {
		font-size: 2em;
	}
	.banner-info {
		padding: 1em 0 1em 1em;
		width: 75%;
		margin-top: 8em;
	}
	.banner {
		min-height: 390px;
	}
	.logo {
		width: 23%;
		margin-right: 0;
	}
	.best h2 {
		font-size: 1.7em;
		padding:0 0 0.3em 0;
	}
	.best p {
		font-size: 14px;
		line-height: 25px;
	}
	.best {
		padding: 2em 0;
	}
	.pricing_middle ul li {
		padding: 15px;
	}
	.pricing_top {
		padding: 22px 0;
	}
	.pricing_top p {
		font-size: 35px;
	}
	.pricing_bottom a {
		padding: 15px 0;
	}
	.heading {
		font-size: 1.4em;
	}
	.plans {
		padding: 2.5em 0 2em 0;
	}
	.fullwidth-section h2 {
		font-size: 1em;
	}
	.fullwidth-section p {
		font-size: 0.8em;
		line-height: 1.7em;
		margin: 1em 0 1.8em 0;
	}
	.dt-support span {
		font-size: 20px;
	}
	.dt-support {
		width: 86%;
	}
	.fullwidth-section {
		min-height: 210px;
	}
	.service-section-head h3 {
		font-size: 1.8em;
	}
	.service-section-head p {
		font-size: 1em;
	}
	.icon {
		width: 10%;
	}
	.icon-text {
		width: 87%;
	}
	.service-section-grid {
		margin-top: 2em;
	}
	.services-grids {
		padding: 1em 1em;
		width: 47.2%;
		margin: 0 10px;
		float: left;
	}
	li.tick {
		padding: 0 0 0 22px;
		font-size:0.95em;
	}
	.services h3 {
		font-size: 2em;
	}
	.services {
		padding: 2em 0px 0em;
		min-height: 320px;
		  border-top: 4px solid#1BBC9B;
	}
	.services-bottom p {
		font-size: 1.4em;
	}
	div#testimonialWrapper #testimonialPicture {
		float:left;
		margin-right:3%;
	}
	div#testimonialWrapper h3 {
		font-size: 14px;
	}
	div#testimonialWrapper {
		padding: 2.5em 0;
	}
	footer p {
		font-size: 12px;
	}
	.search-bar {
		margin: 2px auto 0;
	}
	.logo {
		margin-top: 7px;
	}
	.header {
		padding: 1.1em 0 0.9em 0;
	}
	.inner-banner {
		min-height: 200px;
	}
	.abt-quote {
		min-height: 220px;
		padding-top: 2em;
		padding-left: 1em;
		width: 50%;
		float:left;
	}
	.about-quote h5 {
		font-size: 1.8em;
	}
	.about-quote {
		min-height: 220px;
	}
	.ComparePlans .planHead2,.ComparePlans .planHead3 {
		margin-top: 2em;
	}
	.ComparePlans {
		margin-top: 0;
	}
	div#dedicated_servers {
		margin-bottom: 3em;
	}
	.ds_order {
		width: 20%;
	}
	.ds_price {
		width: 13%;
	}
	.ds_bandwidth {
		width: 10%;
	}
	.ds_diskspace {
		width: 10%;
	}
	.ds_cores {
		width: 14%;
	}
	.ds_ram {
		width: 8%;
	}
	.ds_processor {
		width: 25%;
	}
	.domain_row {
		width: 42%;
	}
	.three-fifth input[type="text"] {
		padding: 12px;
	}
	.one-fifth select {
		  font-size: 13px;
		  height: 46px;
		  padding: 12px 2px;
	}
	.one-fifth input[type="submit"] {
		padding: 13px 45px;
		margin-top: 25px;
	}
	.one-fifth {
		width: 17.5%;
	}
	.charge_right {
		margin-top: 20px;
		padding: 0 15px;
	}
	.charge_img {
		padding: 0 15px;
	}
	.charge_img  img {
		width:100%;
	}
	.PageHead h3 {
		margin-top: 4px;
		font-size: 1.2em;
		margin-bottom: 30px;
	}
	.domain .submitbtn {
		padding-top: 5px;
		padding-bottom: 35px;
	}
	.PageHead {
		margin-top: 35px;
	}
	.row_2 {
		margin-top: 1em;
	}
	.about-left {
		width: 50%;
		float: left;
	}
	.support-grid {
		margin-bottom: 2em;
	}
	.support_grids {
		margin: 4em 0 2em 0;
	}
	.about_desc p {
		font-size: 0.9em;
	}
	.login-page {
		padding: 3em 0;
	}
	.login-right {
		padding: 0;
		margin-top: 3em;
	}
	.login-left p, .login-right p {
		margin: 0 0 1.5em 0;
	}
	.PlanPricing {
		width: 45%;
		margin: 100px 2.5% 0;
	}	
	.blog-top {
		width: 48%;
		margin: 0 4% 0% 0;
		float: left;
	}
	.blog-grid h3 {
		font-size: 1.4em;
	}
	.blog-grid p {
		font-size: 0.95em;
	}
	a.more {
		margin: 3em auto;
	}
	a.read-more {
		margin: 2.3em auto;
	}
	p.men-it {
		font-size: 0.875em;
	}		
	.single h2 {
		font-size: 1.8em;
	}
	.single-us {
		padding: 0 0em 0 0;
	}
	.single-grid {
		padding: 0em 0;
	}
	.leave input[type="submit"] {
		width: 45%;
		margin: 1.2em 0em 1em;
	}
	.bolg-posts {
		padding: 4em 0 2em 0;
	}
	.contact-form input[type="text"] {
		width: 31%;
	}
	.map iframe {
		height: 275px;
	}
}	
@media screen and (max-width: 640px) {
	.search-bar input[type="submit"] {
		left: 130px;
	}
	.search-bar {
		width: 26%;
	}
	.logo {
		width: 28%;
	}
	.header {
		padding: 1em 0 0.6em 0;
	}
	.banner {
		min-height: 325px;
	}
	.banner h1 {
		font-size: 1.6em;
	}
	.banner-info {
		padding: 0.5em 0 1em 1em;
		width: 90%;
		margin-top: 5em;
	}
	.best h2 {
		font-size: 1.5em;
	}
	.pricing_top p {
		font-size: 30px;
	}
	.pricing_bottom a {
		padding: 12px 0;
	}
	.heading {
		margin-bottom: 35px;
	}
	.pricing_top {
		padding: 20px 0;
	}
	.dt-support {
		width: 100%;
	}
	.fullwidth-section p {
		font-size: 0.75em;
	}
	.fullwidth-section {
		min-height: 195px;
	}
	.service-section-head h3 {
		font-size: 1.6em;
	}
	.service-grid {
		padding: 0;
	}
	.service-section-grid h4 {
		font-size: 1.15em;
		margin-bottom: 0.4em;
	}
	.service-section {
		padding: 2.5em 0;
	}
	.services-grids {
		padding: 1em 2em;
		width: 100%;
		margin: 0;
		margin-top: 1em;
	}
	.services h3 {
		font-size: 1.85em;
		margin-bottom: 12px;
	}
	.services {
		min-height: 450px;
		border-top: 3px solid#1BBC9B;
	}
	.services-bottom p {
		font-size: 1.2em;
	}
	.services-bottom {
		padding: 0.8em 0;
	}
	div#testimonialWrapper h3 {
		font-size: 13px;
		margin-top: 10px;
		line-height: 27px;
	}
	footer ul.footerMenu li.title, footer .title, footer ul.footerAddress li.title {
		margin-bottom: 5px;
		margin-top:5px;
	}	
	.inner-banner {
		min-height: 190px;
	}
	div#breadcrumb_wrapper h3 {
		font-size: 1.65em;
		margin-bottom: 3px;
	}
	#breadcrumb_wrapper {
		padding: 35px 0;
	}
	.shared-hosting p {
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 23px;
	}
	.list-check li {
		font-size: 0.8em;
	}
	.about-quote h5 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	.abt-quote {
		min-height: 190px;
	}
	.about-quote {
		min-height: 190px;
	}
	.shared-hosting {
		padding: 1.5em 0;
	}
	.one_third {
		width: 100%;
		margin-right: 0;
	}
	.ds_processor,.ds_ram,.ds_cores,.ds_diskspace,.ds_bandwidth,.ds_price {
		font-size: 12px;
	}
	.button {
		
		font-size: 14px;
	}
	.ds .button {
		padding: 2px 14px 2px 6px;
		margin-top: 0;
	}
	.button:hover {
		font-size: 14px;
	}
	.hd-content {
		padding: 3em 0 1em 0;
	}
	h4.domain-head {
		font-size: 1.6em;
		margin: 0 0 0em 0;
	}
	h4.domain-head1 {
		font-size: 1.5em;
		margin: 0 0 1em 0;
	}	
	.domain_row {
		width: 37%;
	}	
	.one-fifth input[type="submit"] {
		padding: 13px 30px;
	}
	.one-fifth {
		width: 20%;
	}
	.about-right h4 {
		font-size: 1em;
	}
	.about-main h3 {
		font-size: 2em;
		margin: 0 0 0.6em 0;
	}
	.our-head h3 {
		font-size: 2em;
		margin: 0 0 0.6em 0;
	}
	.support-grid p {
		font-size: 0.9em;
	}
	.faq-page {
		padding: 2em 0;
	}
	.PlanPricing {
		float: left;
		margin:80px auto 0;
	}
	.blog-top {
		width: 100%;
		margin: 0 0% 0% 0;
	}
	ul.start li a, ul.start li span{
		padding:0.5em 0.9em;
	}
	p.men-it {
		padding: 0.9em 0;
	}
	.single h2 {
		font-size: 1.5em;
	}
	.bolg-posts {
		padding: 2em 0 2em 0;
	}
	.leave {
		padding: 2em 0 0em;
	}
	.contact-form input[type="text"] {
		width: 30.1%;
	}
}
@media screen and (max-width: 480px) {
	span.menu {
		width: 17%;
		padding: 4px;
		font-size: 14px;
	}
	.logo {
		width: 31%;
		margin-top: 5px;
	}
	.search-bar input[type="text"] {
		padding: 4px 30px 4px 4px;
	}
	.search-bar {
		width: 29%;
	}
	.search-bar input[type="submit"] {
		left: 103px;
	}
	.header {
		padding: 0.8em 0 0.4em 0;
	}
	.banner {
		min-height: 300px;
	}
	.banner-info p {
		font-size: 0.75em;
	}
	.overlay.left-aligned {
		width: 66%;
	}
	.service-section-head h3 {
		font-size: 1.5em;
	}
	.icon {
		width: 17%;
	}
	.icon-text {
		width: 80%;
	}
	div#testimonialWrapper h2 {
		font-size: 20px;
	}
	.inner-banner {
		min-height: 160px;
	}
	div#breadcrumb_wrapper h3 {
		font-size: 1.4em;
		margin-bottom: 2px;
	}
	div#breadcrumb_wrapper h6 {
		font-size: 0.75em;
	}
	#breadcrumb_wrapper {
		padding: 30px 0;
	}
	.float-right {
		width: 100%;
	}
	.about-quote h5 {
		font-size: 1.2em;
		margin-bottom: 15px;
		line-height:1.3em;
	}	
	.abt-quote {
		min-height: 175px;
	}		
	.about-quote {
		min-height: 175px;
	}
	.PageHead h1 {
		font-size: 1.8em;
	}
	.PageHead h3 {
		font-size: 1em;
		margin-bottom: 10px;
	}
	.header-c {
		font-size: 1.6em;
		margin: 0 0 0.4em 0;
	}
	.ds .button {
		padding: 0px 11px 0px 3px;
		text-align: center;
		border: 1px solid #1BBC9B;
	}
	.domain_row {
		width: 100%;
	}
	.one-fifth {
		width: 31%;
		margin-left: 0;
		margin-right: 10px;
	}
	.domain-section {
		padding: 2em 0 3em 0px;
	}
	.about-right,.about-left {
		padding: 0;
	}
	.about-left {
		width:100%;
		margin-bottom:1em;
	}
	.support h2 {
		font-size: 25px;
	}
	.support p {
		font-size: 14px;
	}
	.PlanPricing {
		width: 90%;
		margin:60px 5%;
	}
	ul.start {
		padding: 1em 0 0;
	}
	ul.start li a, ul.start li span {
		padding: 0.5em 0.5em;
	}
	.top-single {
		padding: 1em 0;
	}
	.grid-single {
		width: 80%;
	}
	.single-middle {
		padding: 1em;
	}
	.top-comments {
		padding: 3em 0 0;
	}	
	.single h2 {
		font-size: 1.3em;
	}
	.leave p {
		width: 100%;
		font-size: 0.9em;
	}
	.men {
		padding: 2.8em 0;
	}
	p.smith {
		font-size: 0.9em;
	}
	p.smith span {
		padding: 0 1em;
	}
	p.reply {
		width: 26%;
	}	
	.contact-form input[type="text"] {
		width: 100%;
	}
	.contact-form input[type="email"] {
		width: 100%;
		margin: 0 0em 1em 0em;
	}
	.contact-form input[type="submit"] {
		width: 33%;
	}
	.contact-infom p ,.address p{
		font-size: 13px;
	}
	.map {
		margin: 2em 0;
	}
	.map iframe {
		height: 250px;
	}
	.detail-pic,.row_2 {
		padding:0;
	}
}
@media screen and (max-width: 320px) {
	span.menu {
		width: 100%;
		padding:5px;
		margin: 50px auto 0em auto;
	}
	.logo {
		width: 52%;
		margin-top: 8px;
	}
	.search-bar {
		width: 38%;
	}
	.search-bar input[type="text"] {
		padding: 3px 28px 3px 3px;
		font-size: 0.8em;
	}
	.search-bar input[type="submit"] {
		left: 84px;
	}
	.banner h1 {
		font-size: 1.3em;
	}
	.banner-info {
		padding: 0.7em 0.8em 1em 0.5em;
		width: 95%;
		margin-top: 2em;
	}
	.banner {
		min-height: 270px;
	}
	figure.float-left {
		margin-right: 0;
		width: 100%;
	}
	.best h2 {
		font-size: 1.3em;
	}
	.overlay.left-aligned {
		width: 98%;
	}
	.plans {
		padding: 2em 0 1em 0;
	}	
	.service-section-head p {
		font-size: 0.9em;
	}
	.service-section-head h3 {
		font-size: 1.4em;
	}	
	.service-section {
		padding: 2em 0;
	}
	.service-section-grid {
		text-align: center;
	}
	.icon {
		width: 100%;
		margin-right: 0;
	}
	.icon-text {
		width: 100%;
	}
	.services h3 {
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	.services-grids {
		padding: 0.5em 1em 1em;
		width: 100%;
	}
	li.tick {
		padding: 0 0 0 20px;
		font-size: 0.875em;
	}
	.services {
		min-height: 430px;
	}
	.services-bottom p {
		font-size: 1em;
	}
	div#testimonialWrapper #testimonialPicture {
		float: none;
		text-align: center;
		margin: 0 auto 1em;
	}
	.banner-top {
		margin-top:0;
	}
	.inner-banner {
		min-height: 160px;
	}
	.abt-quote {
		width: 70%;
	}
	.PageHead h3 {
		font-size: 0.875em;
		margin-bottom: 5px;
	}
	.ds_ram,.ds_diskspace,.ds_price {
		display: none;
	}
	.ds_processor {
		width: 35%;
	 }
	 .ds_cores {
		width: 23%;
	}
	.ds_bandwidth {
		width: 14%;
	}
	.ds_order {
		width: 28%;
		  padding-right: 3px;
	}
	.charge_img,.charge_right {
		padding: 0;
	}
	.one-fifth {
		width: 46%;
	}
	.one-fifth select {
		margin-top: 15px;
	}
	.domain {
		margin-top: 30px;
	}
	ul.list_3 li span {
		width: 61%;
	}
	.about {
		padding: 1em 0px 1em;
	}
	.support h2 {
		font-size: 21px;
	}	
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1.2em;
	}		
	.register-top-grid div, .register-bottom-grid div {
		width: 100%;
		margin: 8px 0;
	}	
	.domain {
		margin-top: 0;
	}
	ul.start li a, ul.start li span {
		padding: 0.4em 0.2em;
		font-size: 0.8em;
	}
	.blog-grid h3 {
		font-size: 1.2em;
	}
	.blog-grid p {
		font-size: 0.9em;
	}
	a.read-more {
		margin: 2em auto;
		width: 70%;
	}
	.address-left {
		width: 100%;
		margin-bottom:1em;
	}
	.address-right {
		width: 100%;
	}
	.contact-form input[type="submit"] {
		width: 40%;
	}
	.contact-form {
		margin: 1em 0 2em 0;
	}
	.men {
		padding: 5em 0;
		width: 12%;
	}
	ul.social-share li i {
		margin: 0 2px;
	}
	.single h2 {
		font-size: 1em;
	}
	.grid-single {
		width: 100%;
	}
	.single-one span {
		font-size: 0.85em;
	}
	.bolg-posts {
		padding: 1em 0 2em 0;
	}
	p.eget {
		font-size: 0.875em;
	}
	a.more {
		margin: 1.5em auto;
		width: 51%;
	}
	figure.float-left img {
		margin-bottom: 1em;
	}
	.pricing_middle ul li {
		padding: 12px;
	}
}